
#content{
    margin : 0 10px ;
}

h1{
    color : red ;
}

imput{
    width : 280px ;
    height : 100px ;
}

#memo p{
    width : 280px ;
    height : 100px ;
    border : solid 2px #222222 ;
    padding : 5px ;
}